<h1>Game#score</h1>
<p><%= @output %></p>
<p><%= @word %></p>

<h1><%= @result[:message] %></h1>

<p>Your word: <%= @attempt %></p>
<p>Time Taken to answer: <%= @result[:time] %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your score: <%= @result[:score] %></p>

